body {
    background-color: rgba(0, 128, 0, 0.822);
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
}

h1{
    color: goldenrod;
    text-align: center;
}

#message-el{
    font-style: italic;
}
button{
    width: 250px;
    height: 100px;
    border-radius: 15px;
    background-color: goldenrod;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    border: none;
    color: green;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
button:hover {
    width: 260px;
    height: 110px;
}